:root {
  --bg-color: #fff;
  --dark-color: #1a403f;
  --accent-color: #a3c5ba;
}

body {
  font-family: "Montserrat", serif;
  font-weight: 300;
  background-color: var(--bg-color);
  color: var(--dark-color);
}

a,
.link {
  text-decoration: none;
  color: var(--text-color);
}
a,
.link:visited {
  color: var(--text-color);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.container {
  padding-left: 48px;
  padding-right: 48px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 40px;
  font-weight: 300;
}

.section-subtitle {
  font-size: 28px;
  font-weight: 300;
}

.section-text {
  font-size: 16px;
  font-weight: 200;
}

.section {
  padding-top: 0;
  padding-bottom: 94px;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;

  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.25px;
  line-height: normal;
  padding: 40px 40px;
  transition: background box-shadow 280ms ease;

  width: 80px;
  height: 80px;
}

.cta-button:hover,
.cta-button:focus {
  border-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset -8px -7px 10px #fff, inset 8px 7px 10px rgba(0, 0, 0, 0.15);
}

/* -------------- HEADER ------------------ */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  gap: 24px;
}

.header-text {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: -1;
}

/* ------------- hero section ------------ */

.hero-container {
  display: flex;
  gap: 62px;
  align-items: center;
  justify-content: space-between;
}

.hero-section {
  padding-top: 24px;
  padding-bottom: 96px;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  max-width: 352px;
}

.hero-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -1;
  margin-bottom: 17px;
}

.hero-text {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 28px;
}

.section-text-content {
  display: flex;
  flex-direction: column;
  max-width: 352px;
  gap: 18px;
}

/* -------------- ABOUT SECTION ----------------- */
.about-container {
  display: flex;
  gap: 48px;
  text-align: justify;
}

/* services */
.services-container {
  position: relative;
}

.services-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px;
  list-style: none;
  margin: 0;
}

.services-item {
  flex: 0 0 80%;
  scroll-snap-align: start;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.services-item img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 0.7;
}

.scroll-button:hover {
  opacity: 1;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.services-list {
  scroll-behavior: smooth;
}

/* footer */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
